<summary-page>
    <div class="br-pagebody pd-x-20 mg-t-80">
        <filter-top title="{ state.title }" collector-object="{ collector }"/>
    </div>
    <script>
        import controller from './summary'
        export default controller
    </script>
</summary-page>