<restriction-notif>
    <div class="br-header-falidasi bg-orange" if="{validasimaxstream}">
        <div class="pd-r-20 pd-l-20 pd-b-10"> You've been reached maximal <b>streams of mention</b> limit for your
          package. To add more keywords please <a data-toggle="modal" data-target="#Headercontact" target="_blank"
            class="cursor-pointer contact-us"> contact us </a>
        </div>
    </div>
</restriction-notif>